<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bienvenido!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/src/style.css" rel="stylesheet">
</head>
<body class="container-fluid">
<nav class="navbar bg-black">
  <div class="container">
    <a class="navbar-brand text-light">Bienvenido!</a>
  </div>
</nav>
<div class="container">
    <a href="/notas">
    <button type="button" class="btn btn-primary position-absolute bottom-50 start-50 translate-middle my-3">Ejercicio 1</button>
    </a>
    <a href="/nombres">
    <button type="button" class="btn btn-primary position-absolute top-50 start-50 translate-middle">Ejercicio 2</button>
    </a>
</div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>